body, main {
    display: flex;
}

body {
    flex-direction: column;
}

body main {
    flex-direction: row;
    flex:auto
}
main article {
    flex:2;
    overflow-y:auto
}

main aside {
    flex:1;
    overflow-y:auto
}
footer {
    border: 1px ridge
}